<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
    <link href="/styles/root.css" rel="stylesheet">

</head>

<body>
    <header>
        <%- include('partial.ejs',{user:false})%>
    </header>

    <div class='outerDiv'>
        <div class="left">
            <img class='image' src="shopping image.jpg" />
        </div>

        <div class="right">
            <div class='signin'>
                Sign in
            </div>
            <div class='faded '>
                Create your account in a second
            </div>

            <form method="post" action="signup">
                <div class='inputFieldDivs'>
                    <input class="inputFields" placeholder="First Name:" name="name" required>
                </div>

                <div class='inputFieldDivs'>
                    <input class="inputFields" type="text" placeholder="Last Name:">
                </div>

                <div class='inputFieldDivs'>
                    <input class="inputFields" placeholder="Email Address:" type="email" name="email" required>
                </div>

                <div class='inputFieldDivs'>
                    <input class="inputFields" type="password" placeholder="Create Password" name="password" required>
                </div>

                <div class='faded'>
                    <input type="checkbox" required> I agree to the terms and privacy policy
                </div>

                <div class='createAccount'>
                    <input class="createAccountButton" type="submit" value="Create Account">
                </div>
            </form>

            <div class='faded'>
                Already a member?
                <a href="/login" > Login
                </a>
            </div>



            <div class='continueWith faded'>
                ------------ Or continue with ------------
            </div>



            <div class="links">
                <img class='linkImages' alt="google" src="Google_Icons-09-512.webp" />
                <img class='linkImages' alt="instagram" src="instagram icon.png" />
                <img class='linkImages' alt="facebook" src="facebook icon.png" />
                <img class='linkImages' alt="twitter" src="twitter icon.webp" />
            </div>
        </div>
    </div>


</body>
<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>

</html>