<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link href="/styles/root.css" rel="stylesheet">

</head>
<body>
    <header>
        <%- include('partial.ejs',{user:false})%>
    </header>
    <div class="container">
        <a href="/login">
            <button>Login</button>
        </a>
        <a href="/signup">
            <button>Signup</button>
        </a>
    </div>
    
</body>
</html>